#create-card {
    display: grid;
    height: 100%;
    grid-template-rows: 10% auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header"
                         "preview controls";
}

#create-card h1 {
    grid-area: header;
}

#preview {
    grid-area: preview;
    justify-self: center;
    align-self: center;
}

#preview .card {
    width: 350px;
    height: 500px;
}

#controls {
    grid-area: controls;
}


