svg {
    margin: 2em;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    width: 228px;
    height: 332px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    border-radius: 10px;
    border: 5px solid white ;
}


