#inventory #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,120px);
    grid-auto-rows: 170px;
    grid-gap: 20px;
    position: relative;
}

#inventory .card {
    width: 120px;
    height: 170px;
    transition: transform .3s;
    transform-origin: 100% 30%;
}

#inventory .card:hover {
    filter: blur(0);
    transition-delay: .3s;
    transform: scale(2);
    z-index: 100;
}