:root {

}

.center {
    display: grid;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
}

form * {
    display: block;
}


#modal {
    display: block;
    width: 60%;
    max-width: 100%;

    height: 60%;
    max-height: 100%;

    position: fixed;

    z-index: 100;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);


    background: var(--color-bg-secondary);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
